body {
    padding-left: 40px;
    padding-right: 40px;
    background-color: black;
    color: white;
    font-family: "Menlo", "Consolas", "Lucida Console", monospace;
    font-size: x-large;
}

#titleblock {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 20px
}

#titleblock a {
    position: absolute;
    color: #ffffff;
    font-size: x-large;
    right: 50px
}

#topbuttons {
    display: none;
    margin: auto;
    margin-right: 0;
}

.topbtn {
    font-family: "Menlo", "Consolas", "Lucida Console", monospace;
    background: #1F1F1F;
    font-size: large;
    border: none;
    color: white;
    padding: 15px;
    cursor: pointer;
}

h4 {
    margin: 0;
    padding: 0;
    align-self: center;
    padding-right: 30px;
}

h2 {
    margin-top: 0;
}

#loginarea {
    display: flex;
    flex-direction: row;
}

#loginbutton {
    background-color: #1F1F1F;
    margin-left: 30px;
    width: 100px;
    height: 50px;
    border: none;
    color: white;
    font-family: "Menlo", "Consolas", "Lucida Console", monospace;
    font-size: large;
    cursor: pointer;
}

#loginbutton:active {
    background-color: #131313;

}

input {
    background-color: #1F1F1F;
    border: none;
    height: 50px;
    width: 400px;
    font-family: "Menlo", "Consolas", "Lucida Console", monospace;
    font-size: large;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

textarea {
    resize: none;
    background-color: #1F1F1F;
    border: none;
    height: 100px;
    width: 100%;
    font-family: "Menlo", "Consolas", "Lucida Console", monospace;
    font-size: large;
    color: white;
}

#charcount {
    float: right;
    padding-right: 0px !important;
    font-family: "Menlo", "Consolas", "Lucida Console", monospace;
    font-size: large;
    color: #ffffff;
}

#wide {
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    display: none;
    white-space: nowrap;
}

#wide div {
    padding-right: 50px;
}

.yeswrap {
    white-space:initial;
}

#images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#images video {
    width: 100%;
    align-self: center;
    max-height: 300px;
    min-height: 100px;
    object-fit: cover;
    transition: 0.15s;
}

#images video:hover {
    transform: scale(1.15);
    cursor: pointer;
}

#images img {
    width: 100%;
    align-self: center;
    max-height: 300px;
    min-height: 100px;
    object-fit: cover;
    transition: 0.15s;
}

#images img:hover {
    transform: scale(1.15);
    cursor: pointer;
}

#preview {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000078;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
}

#preview video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
}

#preview img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
}

#closePreview {
    background-color: #131313;
    font-size: x-large;
    font-family: "Menlo", "Consolas", "Lucida Console", monospace;
    width: 60px;
    height: 60px;
    margin: 20px;
    border: none;
    color: white;
}

#closePreview:hover {
    cursor: pointer;
}

#preview_buttons button {
    font-family: "Menlo", "Consolas", "Lucida Console", monospace;
    background-color: #131313;
    border: none;
    padding: 10px;
    width: 120px;
    height: 50px;
    font-size: large;
}

#preview_buttons button:hover {
    cursor: pointer;
}

#preview_buttons {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    margin: auto;
    width: fit-content;
}

#preview_info {
    color: lightgray;
    z-index: 5;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    margin: auto;
    width: fit-content;
}

#copyurl {
    color: white;
}

#delete {
    color: red
}

#submit {
    background-color: #1F1F1F;
    border: none;
    height: 31px;
    font-family: "Menlo", "Consolas", "Lucida Console", monospace;
    font-size: large;
    color: #ffffff;
}

#showURL {
    height: 20px;
    width: 20px;
    margin-top: 2px;
    filter: invert(100%) hue-rotate(207deg) brightness(1.7);
}

#submit:hover {
    cursor: pointer;
}

#bottombutton {
    display: none;
    right: 0;
    left: 0;
    width: fit-content;
    margin: auto;
}

#bottombutton button {
    border: none;
    font-family: "Menlo", "Consolas", "Lucida Console", monospace;
    font-size: large;
    height: 40px;
    margin: 0;
}

#bottombutton button:hover {
    cursor: pointer;
}

#next {
    background-color: #424242;
    color: #FFFFFF;
    margin-right: 50px;
    width: 50px;
}

#nuke {
    background-color: red;
    color: #1F1F1F;
    font-weight: 900;
    width: 100px;
}

#pagenum {
    height: 40px;
    width: 20px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

footer {
    height: 100px
}
